<!DOCTYPE html>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<html lang="en">
<head>
  <!-- Scripts and styles here -->
</head>
<body class="container">

  <header>
    <h1>Dynamic Weather Plotter</h1>
  </header>

  <input id="yValue" type="number" step="any" placeholder="Enter Date">
  <div id="renderButton">Add DataPoint & Render</div>
  <div id="chartContainer">
  </div>

  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>
</html>
